MONGO_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority&appName=fitlife
JWT_SECRET=generate-a-long-random-hex-string
PORT=5000

# Email configuration
EMAIL_USER=your-account@gmail.com
EMAIL_PASS=your-gmail-app-password
CLIENT_URL=http://localhost:3000

SPOONACULAR_API_KEY=your-spoonacular-api-key
